body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
   
  }

  .bgimg {
    background-position: center;
    background-size: cover;
    min-height: 75%;
  }

  .menu {
    display: none;
  }

  .fb{
    display: flex;
    justify-content: center; 
    height: 10px;
    align-items: center;
    margin: 300px;
}

  .containerRS{
    background-color:rgb(255, 154, 154);
}
.footer{
    background-color: rgb(255, 154, 154);
   
}
