*{
    margin: 0;padding: 0;
    font-family: 'sono', sans-serif;
}
#head{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    padding: 1%;
}

@keyframes anime{
    0%{ transform: rotate(0deg);}
    25%{ transform: rotate(90deg);}
    50%{ transform: rotate(180deg);}
    75%{ transform: rotate(270deg);}
    100%{ transform: rotate(360deg);}
}
#head img{
    height: 100px;  


}
#head #ours{
    height: 100px;  
    animation-name: anime;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;

}
.navbar{
    background-color: #ff9a9a;
    padding: 15px 15px;
    text-align: center;
}
.navbar a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: #7c3939;
    transition: 0.5s;
    
}

/* contenu de la page */


#containerTheme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:899px){
    .titletheme{
        width: 700px;
    }
    
}
@media screen and (min-width:900px){
    .titletheme{
        width: 90%;
    }
    
}
.titletheme{
    
    color: white;
    font-size: 18px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #ff9a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.titletheme p{
    color: #7c3939;
    margin: 10px 10px;
    font-style: italic;
    font-size: 20px;
}

caption{
    color: #7c3939;
    font-style: italic;
    margin-bottom: 10px;
}
#table1{
    width: 500px;
    text-align: center;
    border-spacing: 0;
    color: #ff9a9a;
    background-color:  #663c3c; 
}

#table1 td, #table1 tr{
    border: solid 1px #ff9a9a; 
}

#table1 td{
    padding: 5px;
    transition: 0.3s;
}
#table1 td:hover{
    padding: 5px;
    transition: 0.3s;
    color: white;
}

#table2{
    text-align: center;
    border-spacing: 0;
    color: #ff9a9a;
}
#table2 td{
    border: solid 1px #ff9a9a; 
    transition: 0.3s;
    
}
#table2 td:hover{
    color: white;
    transition: 0.3s;
}
#table2 tr{
    border: solid 1px #ff9a9a; 
    background-color:  #6b3737; 
    height: 50px;
}
.td{
    width: 100px;
}
.td2{
    padding: 10px;

}

#retour{
   margin-bottom: 20px;
}


/* footer */

.footer{
    background-color: rgb(255, 154, 154);
   
}
.footer .title{
    text-align: center;
    color: white;
    padding: 20px;
}
.containerRS{
    display: flex;
    justify-content: space-evenly;
    height: 100px; 
    border-radius: 20px;
}
.containerRS .icon1{
    color: blue;
    font-size: 2rem;
}
.containerRS .icon2{
    color: rgb(226, 23, 165);
    font-size: 2rem;
   
}
.containerRS .icon3{
    color: rgb(228, 19, 19);
    font-size: 2rem;
}
.title a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.5s;
}
.title a:hover{
text-decoration: underline;
transition: 0.5s;
color: #7c3939;
}




